# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=etherial_db
DB_USER=root
DB_PASS=

# Server
PORT=3000
NODE_ENV=development

# Http Auth
HTTP_AUTH_SECRET=super_secure_random_string_configured_in_env
